body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-weight: 700;
}
footer {
  padding: 100px;
}
h2 {
  font-weight: 600;
}
.container p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mk-color01 {
  color: #7DB478;
}
.mk-color02 {
  color: #EEAA56;
}
.mk-color03 {
  color: #F16456;
}
.mk-color04 {
  color: #3E6684;
}
hr {
  margin: 50px;
}
.small {
  font-size: 16px !important;
}
footer {
  font-size: 12px !important;
}
