body {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

footer {
    padding: 100px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.mk-color01 {
color: #7DB478;
}

.mk-color02 {
color: #EEAA56;
}

.mk-color03 {
color: #F16456;
}

.mk-color04 {
color: #3E6684;
}
